body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Zilla Slab', serif;
}

.header {
    width: 100vw;
    height: 10vh;
}

.header h3 {
    width: auto;
    margin: 5px;
    display: inline;
}

/*in the header*/
.username {
    width: auto;
    margin: 5px;
    display: inline;
}

.toolbar
{
    border:solid 1px #ddd;
    background:#f4f4f4;
    padding: 5px;
    border-radius:3px;
}

.toolbar > span
{
    cursor:pointer;
}

.toolbar > span:hover
{
    text-decoration:underline;
}
